.Products_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  margin: 0 auto ;  /* Center the grid horizontally */
  max-width: 1200px; /* Optional: Set a max-width to limit the width of the grid */
  
}

@media screen and (max-width: 768px) {
  .Products_main {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .Products_main {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 auto;
    overflow: hidden;
    gap: 1rem;
  }
 
}
