.Products_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 0 auto ;  /* Center the grid horizontally */
  max-width: 1200px; /* Optional: Set a max-width to limit the width of the grid */
  justify-items: center;
  
}

@media screen and (max-width: 768px) {
  .Products_main {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .Products_main {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    overflow: hidden;
  }
}
.container{
  margin-top :0;
  padding-top: 0;
}