.Discount
{
    background-color: rgb(202, 240, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.Discount img{
    filter: drop-shadow(5px 5px 10px #000000);
}
.btn
{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}