.Discount
{
    background: radial-gradient(666px at 0.4% 48%, rgb(202, 204, 227) 0%, rgb(89, 89, 99) 97.5%) !important;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.Discount img{
    filter: drop-shadow(5px 5px 10px #000000);
}
.banner_col1 .btn
{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #5f5e5e !important;
    margin-right: 5px !important;

}

.banner_col1 .btn:hover{
    color: aliceblue !important;
}