nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* no padding from left rigt */
  padding: 0px 10%;
  /* one line from bottom bar */
  border-bottom: 1px solid #000;
  z-index: 10;
  background-color: #212529;
  height:60px;
  
  
}




nav .logo {
  width: 40px;
  cursor: pointer;
}
.nav-btn {
  background: #000;
  color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  cursor: pointer;
}
.nav-btn img {
  width: 16px;
  margin-left: 8px;
}

.menu-icon {
  display: none;
}
/* media query */
@media only screen and (max-width: 1290px) {
   
  nav ul {
    position: absolute;
    width: 100%;
    background: #000;
    color: #fff;
    left: 0;
    top: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    display: flex;
    flex-direction: column !important;
  }
  .nav-btn {
    display: none;
  }
  nav .logo {
    display: inline-flex;
    width: 40px;
  }
  nav ul li {
    margin: 10px;
    font-size: 14px;
    list-style: none;
  }
  .menu-icon {
    display: inline;
    width: 30px;
  }
  .show-menu {
    max-height: 90vh ;
  }
  .li-element
  {
    display: flex;
    flex-direction: column;
  }

  .search-cart-like img {
    padding: 5px !important;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-right: 0rem;
  }
  a{
    color: #fff !important;
  }
}
.nav-link {
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  min-height: auto;
  min-width: auto;
  margin: 0 0 8px 0;
  font-weight: 700;
  padding: 20px 1.2rem 0rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}



.search-cart-like img {
  padding: 10px !important;
  cursor: pointer;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}

 .menu-links a
{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    
    transition: .5s ease-in;

}

.menu-links a:hover

{
  text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);

}




@media only screen and (max-width: 1290px) {

  .search-cart-like img {
    padding: 2px !important;
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-right: 0.2rem;
  }
nav {
 padding-right: 0;
};  
}

@media only screen and (min-width: 1290px) {
  .li-element{
    position: relative; /* Ensure positioning context for absolute positioning of underbar */
  }

  .underbars {
    height: 1px;
    background: rgba(244, 244, 245, 0.952);
    width: 00px; /* Initially hide the underbar */
    position: absolute;
    bottom: 0;
    left: 0%;
    top:100%;
    transition: 0.9s ease; /* Transition width for smooth animation */
  }
   
  .a1:hover ~ .underbars{
    left: 2.5%;
    width: 60px;
    background: rgb(213, 213, 219);
  }
  .a2:hover ~ .underbars{
    left: 17%;
    width: 90px;
    background: rgba(200,100,100,1);
  }
  .a3:hover ~ .underbars{
    left: 35%;
    width: 70px;
    height: 1px;
    background: rgba(150,250,250,0.5);
    box-shadow: 0 0 10px rgba(70,250,250,1);
  }
  .a4:hover ~ .underbars{
    left: 50%;
    width: 90px;
    height: 1px;
    background: rgba(150,250,250,0.5);
    box-shadow: 0 0 10px rgba(70,250,250,1);
  }
  .a5:hover ~ .underbars{
    left: 68%;
    width: 60px;
    height: 1px;
    background: rgba(150,250,250,0.5);
    box-shadow: 0 0 10px rgba(70,250,250,1);
  }
  .a6:hover ~ .underbars{
    left: 81%;
    width: 109px;
    height: 1px;
    background: rgba(150,250,250,0.5);
    box-shadow: 0 0 10px rgba(70,250,250,1);
  }
  
}






