@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-color: #3074f0;
  --primary-color: #f7c9d2;
  --light-color: #f5f5f5;
  --success-color: #cc0a0a8f;
  --nav-color: #000000cd;
  --font-color: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  margin-top: 60px !important;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233) !important ;
  overflow-x: hidden;
  
}
.Products_main{
  background-color: rgb(252, 215, 221);
}
.Full_main_category{
  background-color: red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}



p {
  font-size: 1rem;
  color: #a7acb3;
}

@media only screen and (max-width: 768px) {
  body {
    
    padding: 20px 0 0;;
  }
 .search-cart-like
 {
  padding: 5px !important;;
 }
}
a{
  text-decoration: none !important;
}



.container{
  margin-top :0 !important;
  padding-top: 0 !important;
}