.banner_image{
 border:  7px solid #9e9797;
 height: 25vh;
}
.banner_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.btn{
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .banner_image{
  height: 20vh;
 }
 .banner_image img{
  height: 20vh;
  object-fit:cover;
 }
}
